<h1>Result</h1>
<p> <%= @message %> </p>
<p> <%= "the score for this party is #{@score}" %> </p>
<p> <%= "the score for all your parties is #{@total_score}" %> </p>
<br>
<%= link_to "Replay with an other word", new_path %>
